@media (max-width: 600px) {
  header {
    height: 120px !important;
  }
  .mobile-header {
    position: relative !important;
    top: 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .desktop-header {
    display: none !important;
  }
  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mobile-header .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-header .logo-link, .mobile-header .cart, .mobile-header .product-categories {
    width: auto;
  }
  .mobile-header .pop-up-menu {
    top: 40px !important;
    right: 0 !important;
  }
}

@media (max-width: 900px) {
  .product-categories-label {
    display: none !important;
  }
}

header {
  background-color: #ffe82e;
  height: 80px;
  color: #231f20;
  position: relative;
  z-index: 1000;
}

header .mobile-header {
  position: fixed;
  top: -1000px;
}

header .container .desktop-search {
  width: 45%;
}

header .container .product-categories {
  height: 100%;
  margin-left: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

header .container .product-categories:hover .pop-up-menu {
  display: block;
}

header .container .product-categories .product-categories-pop-up {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .product-categories .product-categories-pop-up a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .product-categories .pop-up-menu {
  display: none;
  position: absolute;
  top: 70px;
  z-index: 1000;
  width: 250px;
}

header .container .product-categories .pop-up-menu .dim {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #ffe82e;
}

header .container .product-categories .categories-pop-up-list {
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 1px 1px 5px 1px #d9d9d9;
          box-shadow: 1px 1px 5px 1px #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 50;
  background-color: #fff;
}

header .container .product-categories .categories-pop-up-list a:hover {
  background-color: #f7f6e6;
  color: #231f20;
}

header .container .product-categories .categories-pop-up-list .category-item {
  margin: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .product-categories .categories-pop-up-list .category-item .category-image {
  margin-right: 10px;
}

header .container .product-categories .categories-pop-up-list .category-item .category-image img {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

header .container .product-categories .product-categories-icon {
  width: 40px;
}

header .container .product-categories .product-categories-icon .top-bar, header .container .product-categories .product-categories-icon .middle-bar, header .container .product-categories .product-categories-icon .bottom-bar {
  height: 4px;
  background-color: #04b950;
}

header .container .product-categories .product-categories-icon .top-bar {
  margin-bottom: 10px;
}

header .container .product-categories .product-categories-icon .bottom-bar {
  margin-top: 10px;
}

header .container .product-categories .product-categories-label {
  margin-left: 15px;
  margin-right: 15px;
}

header .container .product-categories .product-categories-label p {
  margin: 0;
}

header .container .product-categories .product-categories-label .product-categories-more-icon {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #04b950;
  content: "";
}

header .container .search-box input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

header .container .search-box button.search-btn {
  width: auto !important;
  height: auto !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 3px solid #04b950;
  background-color: #04b950;
}

header .container .cart {
  margin-left: 20px;
}

header .container .cart img {
  height: 100%;
}

header .container .cart .shopping-cart {
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
  padding: 8px;
  background-color: #ddf6e8;
  border-radius: 50%;
}

header .container .cart .shopping-cart .cart-quantity {
  position: absolute;
  z-index: 5;
  top: -5px;
  right: -5px;
  height: 20px;
  width: 20px;
  background-color: #04b950;
  color: #ddf6e8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #fff;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 1;
  padding: 20px 10px 10px 10px;
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer h3 {
  color: #7b7b7b;
  font-weight: bold;
  margin: 10px 0;
}

footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-col {
  margin: 0 50px;
}

footer .col-items {
  margin-top: 20px;
}

footer .copyright {
  margin-top: 30px;
}

footer a {
  color: #7b7b7b;
  text-decoration: none;
}

footer a:hover {
  color: #231f20;
  opacity: 0.95;
}

footer .company-name {
  font-weight: bold;
}

footer .company-name p {
  font-size: 1rem;
  margin: 5px 0;
}

footer .menu-footer-links-container ul {
  list-style-type: none;
  padding: 0;
}

footer .menu-footer-links-container ul li {
  margin: 10px 0;
}

html body {
  background-color: #f5f5f5;
  color: #231f20;
}

html body .container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input, textarea {
  padding: 6px 10px 6px;
  font-size: 1rem;
}

h2 {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}

h3 {
  color: #231f20;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
  line-height: 1;
}

h4 {
  font-size: 15px;
  font-weight: bold;
}

a {
  color: #231f20;
  text-decoration: none;
}

a:hover {
  color: #231f20;
  opacity: 0.95;
}

.order-complete, .link-404, .cart-empty, .notice {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-complete span, .link-404 span, .cart-empty span, .notice span {
  color: #04b950;
}

.order-complete span h2, .link-404 span h2, .cart-empty span h2, .notice span h2 {
  font-size: 1.5rem;
}

.logo {
  background: url("../img/aharent-logo.png") no-repeat center center;
  background-size: cover;
  width: 144px;
  height: 28px;
}

.price {
  color: #04b950;
}

.breadcrumb {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.breadcrumb ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  padding: 0;
}

.breadcrumb ul li.tail {
  margin-left: 10px;
}

.breadcrumb ul li.tail:before {
  content: ">";
  margin-right: 10px;
}

a.button {
  background-color: #04b950 !important;
  color: #ddf6e8 !important;
}

ul.products {
  max-width: 100%;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul.products li.product, ul.products li.product-item {
  background-color: #fff;
  max-width: 18%;
  width: 18%;
  min-width: 220px;
  margin: 0 15px 20px 0 !important;
  padding: 5px;
}

ul.products li.product .thumbnail, ul.products li.product-item .thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

ul.products li.product .thumbnail a, ul.products li.product-item .thumbnail a {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
}

ul.products li.product .thumbnail a img, ul.products li.product-item .thumbnail a img {
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

ul.products li.product .price, ul.products li.product-item .price {
  margin: 0 10px;
}

.related {
  padding: 0;
}

.related .title {
  margin-bottom: 20px;
}

.related .title h2 {
  color: #258c69;
  font-size: 16px;
  font-weight: bold;
}

ul.nav-tabs .nav-item {
  padding: 15px 20px;
}

ul.nav-tabs .nav-item.active {
  border-bottom: 2px solid #04b950;
}

ul.nav-tabs .nav-item:hover {
  background-color: #f5f5f5;
}

button {
  background-color: #04b950;
  color: #ddf6e8;
}

button[type="submit"].aha-button, button[type="button"].aha-button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  background-color: #04b950;
  color: #ddf6e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.woocommerce-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.woocommerce-pagination ul.page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.woocommerce-pagination ul.page-numbers li {
  margin: 0 10px;
}

.woocommerce-pagination ul.page-numbers li span {
  padding: 8px 15px;
}

.woocommerce-pagination ul.page-numbers li span.current {
  background-color: #04b950;
  color: #ddf6e8;
  border-radius: 5px;
}

.bapf_no_products {
  width: 100%;
}

.dokan-dashboard {
  margin: 20px 0;
}

.dokan-form-group .dokan-w5.text-editor {
  width: 60%;
}

.woocommerce {
  margin-bottom: 10px;
}
/*# sourceMappingURL=global.css.map */