$text-color: #231f20;
$bright-text-color: #ddf6e8;
$bg-color: #f5f5f5;
$shadow-color: #d9d9d9;

$main-color: #ffe82e;
$main-button-color: #04b950;
$bright-bg-color: #fff;


@import 'components/header';
@import 'components/footer';



html {

    
    body {
        
        background-color: $bg-color;
        color: $text-color;
        

        .container {
            max-width: 1240px;
            margin-left: auto;
            margin-right: auto;
        }
    }


}

.form-control:focus {
    box-shadow: none;
} 

input {
    padding: 8px 15px 8px;
    font-size: 1.2rem;
}

h2 {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}

h3 {
    color: $text-color;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;

    margin: 0;
    line-height: 1;
}

h4 {
    font-size: 15px;
    font-weight: bold;
}

a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        opacity: 0.95;
    }

}

.price {
    color: $main-button-color;
}


.breadcrumb {

    margin: 10px 0;
   
    display: flex;
    align-items: center;
    align-content: center;

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        align-content: center;

        margin: 0;
        padding: 0;

        li.tail {
            margin-left: 10px;

            &:before {
                content: ">";
                margin-right: 10px;
            }
        }
    }

    
}

ul.products {
    max-width: 100%;
    padding: 0;

    list-style-type: none;
    
    li.product-item {
        background-color: #fff;
        max-width: 18%;
        width: 18%;

        margin: 0 11px 20px 0;
        padding: 5px;

        .thumbnail {
            padding: 5px 3px;
            a {
            
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
        

        

        

        .price {
            margin: 0 10px;
        }

    }

}

.related {
    padding: 0;
    .title {

        margin-bottom: 20px;

        h2 {
            color: #258c69;
            font-size: 16px;
            font-weight: bold;
        }

    }
    
}

ul.nav-tabs {

    .nav-item {
        padding: 15px 20px;

        &.active {
            border-bottom: 2px solid #258c69;
        }

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

button[type="submit"].aha-button, button[type="button"].aha-button {
    width: 200px;
    height: 50px;

    border-radius: 5px;
    border: 0;

    font-size: 20px;

    background-color: $main-button-color;
    color: $bright-text-color;


    display: flex;
    align-items: center;
    justify-content: center;

}

.woocommerce-pagination {

    display: flex;
    justify-content: center;
    
    margin-bottom: 20px;

    ul.page-numbers {
    
        display: flex;
        list-style-type: none;
    
        li {
            margin: 0 10px;

            span {

                padding: 8px 15px;

                &.current {
                    background-color: #258c69;
                    color: #fff;

                    border-radius: 5px;
                }

            }    
        }    
    }

}



.dokan-dashboard {
    margin: 20px 0;
}

.dokan-form-group {
    .dokan-w5 {
        &.text-editor {
            width: 60%;
        }
    }
}



