.mega-sale {
    background-color: $bright-bg-color;

    img {
        width: 100%;
    }
}

.container {


    .title-bar {
        background-color: $bright-bg-color;
        border-radius: 5px;

        padding: 15px 20px 15px;

        margin-bottom: 20px;
    }

    

    .renting-instructions {
        
        margin: 20px;
        

        .renting-steps {

            margin-top: 20px;
            padding: 30px 30px;
            
            background-color: $bright-bg-color;
            border-radius: 5px;

            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .single-step {

                margin: 0 20px;

                .step-icon {
                    margin-left: 20px;
                }

                .step-notes {
                    .step-notes-title {
                        margin: 30px 0 20px 0;
                    }
                }
            }
        }
    }

    .categories {
        margin: 20px;


        .title-bar {
            margin-bottom: 0;
        }

        .categories-list {
            padding: 20px 0;

            background-color: $bright-bg-color;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            .category-item {
                margin: 0 5px;

                display: flex;
                flex-direction: column;

                justify-content: center;

                .category-name {
                    display: flex;
                    justify-content: center;
                }
            }
        }


    }

    .popular-products {

        &.related {
            margin: 20px 0;
        }

        margin: 20px;

    
        .button-more {
            display: flex;
            justify-content: center;
        }

        
    }
}