

footer {
    background-color: $bright-bg-color;
    color: $footer-text-color;

    font-size: 14px;
    line-height: 1;

    padding: 20px 10px 70px 10px;

    margin-top: auto;
    

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
    }

    h3 {
        color: $footer-text-color;
        font-weight: bold;
        margin: 10px 0;
    }
    
    

    .social-links {
        display: flex;
        justify-content: center;

        ul {
            width: 92px;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;

            list-style-type: none;

            li {
                img {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                }
            }
        }
    }

    .footer-col {
        margin: 0 10px;
    }

    .payment-links {
        display: flex;
        justify-content: center;

        div {
            width: 55px;
            margin: 0 5px;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .copyright {
        margin-top: 30px;
    }

    a {
        color: $footer-text-color;
        text-decoration: none;
    
        &:hover {
            color: $text-color;
            opacity: 0.95;
        }
    
    }

    .company-name {
        font-weight: bold;
        p {
            font-size: 1rem;
            margin: 5px 0;

            &.hotline {
                color: $validation-text;
            }
        }
    }


    .menu-footer-links-container {
        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin: 10px 0;
            }
        }
    }

    
}