

footer {
    background-color: $bright-bg-color;
    color: $footer-text-color;

    font-size: 14px;
    line-height: 1;

    padding: 20px 10px 10px 10px;

    .footer-links {
        display: flex;
    
    }
    
    .svg-icon {
        width: 1em;
        height: 1em;
      }
      
      .svg-icon path,
      .svg-icon polygon,
      .svg-icon rect {
        fill: #4691f6;
      }
      
      .svg-icon circle {
        stroke: #4691f6;
        stroke-width: 1;
      }

    .social-links {
        display: flex;
        justify-content: center;
    }

    .footer-col {
        margin: 0 50px;
    }

    .col-items {
        margin-top: 20px;
    }

    .copyright {
        margin-top: 30px;
    }

    a {
        color: $footer-text-color;
        text-decoration: none;
    
        &:hover {
            color: $text-color;
            opacity: 0.95;
        }
    
    }

    h4 {
        font-size: 13px;
        font-weight: bold;
    }

    .company-name {
        p {
            font-size: 1rem;
            margin: 5px 0;
        }
    }


    .menu-footer-links-container {
        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin: 10px 0;
            }
        }
    }

    
}