$header-bg-color: $main-color;
$header-text-color: $text-color;

header {
    background-color: $header-bg-color;
    height: 80px;
    color: $header-text-color;

    .container {
        

        .product-categories {
            height: 100%;
            margin-left: 20px;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

            &:hover {
                .pop-up-menu {
                    display: flex;
                }

            }

            .pop-up-menu {
                display: none;
            }

            .categories-pop-up-list {
                border: 1px solid $shadow-color;

                box-shadow: 1px 1px 5px 1px $shadow-color;
                display: flex;
                flex-direction: column;
                
                position: absolute;
                z-index: 2000;

                top: 100px;
                left: 250px;

                background-color: $bright-bg-color;

                a:hover {
                    background-color: $menu-hover-color;
                    color: $text-color;
                }

                .category-item {
                    margin: 5px 20px;

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .category-image {

                        margin-right: 10px;
                        
                        img {
                            width: 30px;
                            object-fit: contain;
                        }
                    }
                    
                }

                
            }

            .product-categories-icon {
                width: 40px;

                .top-bar, .middle-bar, .bottom-bar {
                    height: 4px;
                    background-color: $main-button-color;
                }

                .top-bar {
                    margin-bottom: 10px;
                }

                .bottom-bar {
                    margin-top: 10px;
                }
            }

            
            .product-categories-label {
                margin-left: 15px;
                margin-right: 15px;

                p {
                    margin: 0;
                }

                .product-categories-more-icon {
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 8px solid $main-button-color;
                    content: "";
                }
            }

            

            
        }

        .search-box {
            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            button.search-btn {

                width: auto !important;
                height: auto !important; 

                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                border: 3px solid $main-button-color;
                background-color: $main-button-color;
            }
        }

        .cart {
            margin-left: 20px;
            

            img {
                height: 100%;
            }

            .shopping-cart {

                position: relative;

                display: block;
                height: 40px;
                width: 40px;

                padding: 8px;

                background-color: $bright-text-color;
                border-radius: 50%;

                .cart-quantity {
                
                    position: absolute;
                    z-index: 5;
    
                    top: -5px;
                    right: -5px;
    
                    height: 20px;
                    width: 20px;
    
                    background-color: $main-button-color;
                    color: $bright-text-color;
                    border-radius: 50%;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
    
                }
            }

            
        }
    }
}