.shop-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    .shop-sidebar {
        min-width: 200px;
        width: 15%;
        margin-right: 20px;
        
        .title {
            
            margin-bottom: 20px;
        }

        .bapf_sfilter {

            .bapf_head {
                margin-bottom: 10px;
            }

            .bapf_body {
                
                ul {
                    padding-left: 0;

                    li {
                        input {
                            border: 1px solid $footer-text-color;
                        }
                    }
                }
            }
        }
    }

    .shop-product-listing {
        
        width: 80%;

        @media (max-width: 900px) {
            width: 100%;
        }
    }

}