.product-info {
    background-color: #fff;
    
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;

    

    .product-image-gallery {
        
        width: 48%;
        padding: 20px;

        display: flex;

        @media (max-width: 600px) {
            width: 100%;
        }
        

        @media (max-width: 900px) {
            width: 100%;
        }


        .swiper {
            max-width: 500px;
            max-height: 300px;

            display: flex;

            .swiper-wrapper {
                display: flex;
                align-items: center;

                .swiper-slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

        

        .show {
            min-height: 250px;
            min-width: 150px;

            width: 100%;

            display: flex;
            justify-content: center;

            img#show-img {
                width: 100%;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }

            img#big-img {
                z-index: 100;
            }

        }

        .scroll-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .small-img {
            width: 350px;
            height: 70px;
            margin-top: 10px;
            position: relative;
            left: 0;
            

            .icon-left, .icon-right {
                width: 12px;
                height: 24px;
                cursor: pointer;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }

            .icon-left {
                transform: rotate(180deg);

                &:hover {
                    opacity: .5;
                }
            }

            .icon-right {
                right: 0;

                &:hover {
                    opacity: .5;
                }
            }

            .small-container {
                width: 310px;
                height: 70px;
                overflow: hidden;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;

                div {
                    width: 800%;
                    position: relative;
                }

                .show-small-img {
                    width: 70px;
                    height: 70px;
                    margin-right: 6px;
                    cursor: pointer;
                    float: left;
                    object-fit: contain;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }




        }

    }


    .summary {

        @media (max-width: 900px) {
            width: 100%;
            
        }

        width: 48%;

        .radio-options {
            display: flex;
            flex-direction: column;

            input[type=radio] {
                margin-right: 5px;
            }
        }

        .stock-status {
            margin: 20px 0;
            color: $footer-text-color;

            p {
                &::before {
                    content: "*";
                }

                font-style: italic;
            }
        }

        .product-title-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 5px;

            h1 {
                margin-bottom: 0;
                width: 100%;
            }

            .sku {
                display: flex;
                align-items: center;
                margin-right: 5px;
            }

            .discount-tag {
                display: flex;
                align-items: center;

                margin-left: 5px;

                span {
                    border: 1px solid $validation-text;
                    color: $validation-text;
                    padding: 0 5px;

                    font-weight: bold;
                }
            }
        }

        .add-to-cart {
            margin-top: 20px;

            .validate {

                display: none;
                
                font-style: italic;
                font-size: 13px;
                color: $validation-text;

                margin-left: 10px;

            }

            .validate-enabled {
                display: inline-block;
                border: 2px solid $validation-text;
            }

            

            .form-row {

                display: flex;
                flex-wrap: wrap;

                margin: 20px 0;

                .row-component {
                    margin-right: 20px;
                }

                

                .form-label {
                    // width: 150px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }

                .form-input {
                    width: 100%;
                    display: flex;
                    // max-width: 80%;
                    // margin-left: 30px;

                    select.time-unit {
                        max-width: 130px;
                        width: 130px;
                        margin: 0;
                    }
                    
                    input.number-spinner {
                        max-width: 30px;
                        padding: 0;
                        line-height: 0.8;
                    }

                    .time-delimiter {
                        margin-left: 10px;
                        display: flex;
                        align-items: center;
                    }
                
                    &.time-period {

                        input.date {
                            max-width: 150px;
                            // margin-right: 20px;

                            font-size: 16px;

                            @media (max-width: 600px) {
                                margin: 10px 20px 10px 0;
                            }
                        }
                    }

                    input#date-from {
                        width: 110px;
                        text-align: center;
                    }

                }

                &.submit-button {

                    button {
                        margin-bottom: 10px;
                    }

                    .add-to-cart-button {
                        margin-right: 10px;
                    }

                }


                

                
            }
        }

        h1.product_title {          
            font-size: 2rem;
        }

        .price-wrapper {

            display: none;

            margin-top: 20px;
            flex-wrap: wrap;

            .note {
                width: 100%;
                margin-bottom: 10px;
                
                p {
                    margin: 0;
                }
            }


            .price-item {

                border: 1px solid #dcdcdc;
                border-radius: 10px;
                overflow: hidden;

                margin: 5px 20px 5px 0;

                display: flex;
                flex-direction: column;

                .price-item-value {

                    display: flex;
                    justify-content: center;
                    font-size: 1.5rem;
                    color: $main-button-color;
                    padding: 5px 10px;                    

                    &.rental {
                        

                        .rental-time {
                            font-size: 1.5rem;
                        }
                    }

                    .original-price {
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                        margin-right: 5px;
                        color: $text-color;
                        // text-decoration: line-through;
                    }
                    

                    span.percentage {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        height: 100%;
                        
                    }
                }

                .loading-price {

                    display: none;
                    margin-left: 5px;

                    .loading-icon {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        
                        img {
                            width: 20px;
                            object-fit: contain;
                        }
                    }
                    
                    
                }

                .price-item-title {
                    display: flex;
                    justify-content: center;
                    
                    font-size: 1rem;

                    background-color: $main-button-color;
                    color: $bright-text-color;
                    padding: 0 10px;

                }

               
            }
        }

        .price-details {

            table {
                
                thead {
                    background-color: $main-button-color;
                    color: $bright-text-color;

                    th {
                        padding: 5px 10px;
                        text-align: center;
                        border: 1px solid $shadow-color;
                    }
                }

                td {
                    padding: 5px 10px;
                    border: 1px solid $shadow-color;
                    text-align: center;
                }
            }
        }

        .price {
            
            color: $main-button-color;

            .rental-time {
                font-size: 1.5rem;
            }
        }
    }
}

#ui-datepicker-div {

    padding: 10px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    z-index: 50;

    a {
        padding: 5px;
    }
}


.product-description {

    margin-bottom: 20px;

    padding: 20px;
    background-color: #fff;

    .nav-tabs {
        border: 0;
    }

    .tab-content {
        margin-top: 20px;

        a {
            color: $main-button-color;
        }
    }
}