.product-info {
    background-color: #fff;
    
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;

    

    .product-image-gallery {
        
        width: 48%;

        padding: 20px;

        @media (max-width: 600px) {
            width: 100%;
        }
        

        @media (max-width: 900px) {
            width: 100%;
        }

        

        .show {
            min-height: 250px;
            min-width: 150px;

            width: 100%;

            display: flex;
            justify-content: center;

            img#show-img {
                width: 100%;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }

            img#big-img {
                z-index: 100;
            }

        }

        .scroll-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .small-img {
            width: 350px;
            height: 70px;
            margin-top: 10px;
            position: relative;
            left: 25px;
            

            .icon-left, .icon-right {
                width: 12px;
                height: 24px;
                cursor: pointer;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }

            .icon-left {
                transform: rotate(180deg);

                &:hover {
                    opacity: .5;
                }
            }

            .icon-right {
                right: 0;

                &:hover {
                    opacity: .5;
                }
            }

            .small-container {
                width: 310px;
                height: 70px;
                overflow: hidden;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;

                div {
                    width: 800%;
                    position: relative;
                }

                .show-small-img {
                    width: 70px;
                    height: 70px;
                    margin-right: 6px;
                    cursor: pointer;
                    float: left;
                    object-fit: contain;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }




        }

    }


    .summary {

        @media (max-width: 900px) {
            width: 100%;
            
        }

        width: 48%;

        .stock-status {
            margin: 20px 0;
            color: $footer-text-color;

            p {
                &::before {
                    content: "*";
                }

                font-style: italic;
            }
        }

        .product-title-wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .add-to-cart {
            margin-top: 20px;

            .validate {

                display: none;
                
                font-style: italic;
                font-size: 13px;
                color: $validation-text;

                margin-left: 10px;

            }

            .validate-enabled {
                display: inline-block;
                border: 2px solid $validation-text;
            }

            

            .form-row {

                display: flex;
                flex-wrap: wrap;

                margin: 20px 0;

                .form-label {
                    // width: 150px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }

                .form-input {
                    width: 100%;
                    display: flex;

                    // max-width: 80%;
                    // margin-left: 30px;

                    select.time-unit {
                        max-width: 130px;
                        width: 130px;
                        margin: 0;
                    }
                    
                    input.number-spinner {
                        max-width: 50px;
                    }

                    .time-delimiter {
                        margin: 0 20px;
                        display: flex;
                        align-items: center;
                    }
                
                    &.time-period {

                        input.date {
                            max-width: 170px;
                            // margin-right: 20px;

                            font-size: 16px;

                            @media (max-width: 600px) {
                                margin: 10px 20px 10px 0;
                            }
                        }
                    }

                }

                
            }
        }

        h1.product_title {          
            font-size: 2rem;
        }

        .price-wrapper {
            display: flex;
            flex-wrap: wrap;

            .deposit {
                display: none !important;
            }

            .price-item {

                border: 1px solid #dcdcdc;
                border-radius: 10px;
                overflow: hidden;

                margin-right: 20px;

                display: flex;
                flex-direction: column;

                .loading-price {

                    display: none;
                    margin-left: 5px;

                    .loading-icon {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        
                        img {
                            width: 20px;
                            object-fit: contain;
                        }
                    }
                    
                    
                }

                .price-item-title {
                    display: flex;
                    
                    font-size: 1.2rem;

                    background-color: $main-button-color;
                    color: $bright-text-color;
                    padding: 0 10px;

                }

                .price-item-value {
                    font-size: 1.5rem;
                    color: $main-button-color;
                    padding: 5px 10px;

                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    &.rental {
                        

                        .rental-time {
                            font-size: 1.5rem;
                        }
                    }

                    
                }
            }
        }

        .price {
            
            color: $main-button-color;

            .rental-time {
                font-size: 1.5rem;
            }
        }
    }
}

#ui-datepicker-div {

    padding: 10px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    z-index: 50;

    a {
        padding: 5px;
    }
}


.product-description {

    margin-bottom: 20px;

    padding: 20px;
    background-color: #fff;

    .nav-tabs {
        border: 0;
    }

    .tab-content {
        margin-top: 20px;
    }
}